@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*{
    margin:0;
    padding:0;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    color: #5a5150;
    line-height: 1.8;
}

body{
    background-color: #92a79d;
}

.wrapper{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    max-width: 1795px ;
    margin-bottom: 30px;
}

header{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(8, 0, 0, 0.06);
    padding: 0 40px;
    margin-bottom: 40px;
}

.logo{
    margin-top: 5px;
    width: 70px;
    height: auto;
}

ul.main-menu{
    list-style: none;
    color: #4e3b4b;
    padding-right: 15px;
}

li.menu-item{
    display: inline-block;
    padding-right: 15px;
}

li.menu-item::after{
    content: " | ";
    padding-left: 10px;
    color: #eaeaea;
}

li.menu-item{
    display: inline-block;
    padding-right: 15px;
}

li.menu-item a{
    color: #4e3b4b;
}

li.menu-item a:hover{
    color: #ca6c40;
}

ul.socials{
    list-style: none;
    color: #4e3b4b;
}

li.social-item a{
    color: #4e3b4b;
}

li.social-item {
    color: #4e3b4b;
    display: inline-block;
    padding-right: 5px;
}

li.social-item a:hover{
    color: #ca6c40;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #4e3b4b;
    line-height: 1.4;
}

h2{
    font-size: 40px;
    line-height: 1.2;
}

h3{
    font-size: 16px;
    line-height: 1.4;
}

h4{
    font-size: 16px;
    color: #919291;
    line-height: 1.4;
}

button{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    height: 42px;
    color: #ffff;
    background-color: #ca6c40;
    padding: 0 20px;
    line-height: 42px;
    border: none;
}

a{
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    color: #ca6c40;
    line-height: 1.4;
    text-decoration: none;
}

main{
padding: 0 100px 0 100px;
background-image: url("../Img/background.png");
background-repeat:no-repeat;
background-position:center bottom;
}

.recepten{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recept{
    width: 100%;
    display: flex;
}

.description{
    margin-right: 70px;
}

.description h4{
    margin-top: 40px;
}

.description p{
    margin: 60px 0;
}

.selfie-image img{
    width: 485px;
    height: auto;
    margin-right: 20px;
}

.home-image img{
    width: 700px;
    height: 515px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.modules-image{
    max-width: 300px;
    display:flex;
}

#module-image-een{
    width: 700px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}

#module-image-twee{
    width: 300px;
    height: 700px;
    margin-right: 10px;
    display: flex;
    align-content: flex-end;
}

#module-image-drie{
    width: 400px;
    height: 324px;
}


.resept-items{
    width: 486px;
    
}

.recept-items .item{
    display: grid;
    grid-template-columns: 400px 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;

}

.recept-items .item:hover{
    background-color: #eaeaea;
    padding-left: 10px;
}

.item-text{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.module-text{
    max-width: 300px;
}